Repository OWASP/www-project-operational-technology-top-10, changes with the owners that CODEOWNERS names for each.
All owners: @andreashappe, @simonrommer, @SiegfriedHollerer

Deployed 3251815 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/how-to-test/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Deployed 5ade8c7 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/how-to-test/index.html
  appendix/whats-next/index.html
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Deployed 65dad7c with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/insufficient-access-control/index.html
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Deployed 626eafe with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/broken-zone-and-conduits-design/index.html
Owners: @andreashappe, @simonrommer

Revised section ITSec for OT People
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

Update contributing.md
  docs/introduction/contributing.md
Owners: @andreashappe, @simonrommer

Update itsec_for_ot_people.md
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

Deployed 205a714 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/how-to-test/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

add note about empricial data
  docs/introduction/contributing.md
Owners: @andreashappe, @simonrommer

Update docs/introduction/contributing.md
  docs/introduction/contributing.md
Owners: @andreashappe, @simonrommer

Update docs/introduction/contributing.md
  docs/introduction/contributing.md
Owners: @andreashappe, @simonrommer

Deployed fb758e9 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/how-to-test/index.html
  appendix/whats-next/index.html
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Deployed e95ccec with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/broken-zone-and-conduits-design/index.html
Owners: @andreashappe, @simonrommer

add preliminary ordering of the top 10
  docs/appendix/whats-next.md
  docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/index.md
  docs/the-top-10/missing-awareness.md
  docs/the-top-10/missing-hardening.md
  mkdocs.yml
Owners: @andreashappe, @simonrommer

small cleanups and rename "how to test" into "next actionable steps"
  docs/appendix/how-to-test.md
  docs/the-top-10/accessible-devices-with-known-vulnerabilities.md
  docs/the-top-10/availability.md
  docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/components-with-insufficient-security-capabilities.md
  docs/the-top-10/inadequate_supply_chain_management.md
  docs/the-top-10/index.md
  docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/missing-awareness.md
  docs/the-top-10/missing-hardening.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @andreashappe, @simonrommer, @SiegfriedHollerer

lots of whitespace fixes
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

lots of whitespace fixes
  docs/background-ot/itsec_for_ot_people.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @andreashappe, @simonrommer, @SiegfriedHollerer

Update mkdocs.yml
  mkdocs.yml
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

break up wall of texts
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

small fix
  docs/the-top-10/index.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Update docs/the-top-10/missing-awareness.md
  docs/the-top-10/missing-awareness.md
Owners: @andreashappe, @simonrommer

Deployed 9ea40a5 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-hardening/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence
* @andreashappe @simonrommer

docs/the-top-10/missing-incident-detection-reaction-capabilities.md @SiegfriedHollerer
docs/the-top-10/inadequate_supply_chain_management.md @SiegfriedHollerer
docs/the-top-10/unknown-assets-and-admin-access.md @simonrommer
