Repository OWASP/www-project-operational-technology-top-10, changes with the owners that CODEOWNERS names for each.
All owners: @andreashappe, @simonrommer, @SiegfriedHollerer

Deployed 908450b with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/insufficient-access-control/index.html
Owners: @andreashappe, @simonrommer

Deployed f49affc with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/missing-hardening/index.html
Owners: @andreashappe, @simonrommer

Deployed 7834e04 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
Owners: @andreashappe, @simonrommer

rename availability
  docs/the-top-10/components-with-insufficient-security-capabilities.md
  docs/the-top-10/index.md
  docs/the-top-10/loss-of-availability.md
  mkdocs.yml
Owners: @andreashappe, @simonrommer

whitespace fixes
  docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/missing-hardening.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @andreashappe, @simonrommer, @SiegfriedHollerer

Deployed 013559d with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/loss-of-availability/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-hardening/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

Update inadequate_supply_chain_management.md
  docs/the-top-10/inadequate_supply_chain_management.md
Owners: @SiegfriedHollerer

Update missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Update inadequate_supply_chain_management.md
  docs/the-top-10/inadequate_supply_chain_management.md
Owners: @SiegfriedHollerer

Update inadequate_supply_chain_management.md
  docs/the-top-10/inadequate_supply_chain_management.md
Owners: @SiegfriedHollerer

Update missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Deployed 0d0b9f5 with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/inadequate_supply_chain_management/index.html
Owners: @andreashappe, @simonrommer

Deployed 6a75196 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
Owners: @andreashappe, @simonrommer

Create mappingTable.md
  docs/appendix/mappingTable.md
Owners: @andreashappe, @simonrommer

Update mappingTable.md
  docs/appendix/mappingTable.md
Owners: @andreashappe, @simonrommer

Update index.md
  docs/background-ot/index.md
Owners: @andreashappe, @simonrommer

Deployed a431708 with MkDocs version: 1.6.1
  appendix/mappingTable/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @andreashappe, @simonrommer

work on a new whats-next document
  docs/appendix/whats-next.md
Owners: @andreashappe, @simonrommer

fix quotation
  docs/appendix/whats-next.md
Owners: @andreashappe, @simonrommer

Deployed f00a083 with MkDocs version: 1.6.1
  appendix/whats-next/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Update mappingTable.md
  docs/appendix/mappingTable.md
Owners: @andreashappe, @simonrommer

Deployed 19e0642 with MkDocs version: 1.6.1
  appendix/mappingTable/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @andreashappe, @simonrommer

add standards mapping table
  mkdocs.yml
Owners: @andreashappe, @simonrommer

Deployed 10d2ee9 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/mappingTable/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/loss-of-availability/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-hardening/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

Restyled and restructured ITSec for OT
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

Update ot_for_itsec_people.md
  docs/background-ot/ot_for_itsec_people.md
Owners: @andreashappe, @simonrommer

Added links again
  docs/background-ot/ot_for_itsec_people.md
Owners: @andreashappe, @simonrommer

Update mappingTable.md with NIST SP 800-82 and others
  docs/appendix/mappingTable.md
Owners: @andreashappe, @simonrommer

Deployed 6f1beab with MkDocs version: 1.6.1
  background-ot/ot_for_itsec_people/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Deployed 2c8c61d with MkDocs version: 1.6.1
  background-ot/itsec_for_ot_people/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Deployed 1c1945e with MkDocs version: 1.6.1
  appendix/mappingTable/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Update glossary.md
  docs/appendix/glossary.md
Owners: @andreashappe, @simonrommer

Deployed 038c105 with MkDocs version: 1.6.1
  appendix/glossary/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Update missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Deployed 011a142 with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
Owners: @andreashappe, @simonrommer

Update inadequate_supply_chain_management.md
  docs/the-top-10/inadequate_supply_chain_management.md
Owners: @SiegfriedHollerer

Update missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Deployed 67596ae with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
Owners: @andreashappe, @simonrommer

remove individual standards now that we have the mapping table
  docs/the-top-10/accessible-devices-with-known-vulnerabilities.md
  docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/components-with-insufficient-security-capabilities.md
  docs/the-top-10/inadequate_supply_chain_management.md
  docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/loss-of-availability.md
  docs/the-top-10/missing-awareness.md
  docs/the-top-10/missing-hardening.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @andreashappe, @simonrommer, @SiegfriedHollerer

whitespace fixes
  docs/background-ot/itsec_for_ot_people.md
Owners: @andreashappe, @simonrommer

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence
* @andreashappe @simonrommer

docs/the-top-10/missing-incident-detection-reaction-capabilities.md @SiegfriedHollerer
docs/the-top-10/inadequate_supply_chain_management.md @SiegfriedHollerer
docs/the-top-10/unknown-assets-and-admin-access.md @simonrommer
