Repository OWASP/www-project-operational-technology-top-10, changes with the owners that CODEOWNERS names for each.
All owners: @andreashappe, @simonrommer, @SiegfriedHollerer

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence
* @andreashappe @simonrommer

docs/the-top-10/missing-incident-detection-reaction-capabilities.md @SiegfriedHollerer
docs/the-top-10/inadequate_supply_chain_management.md @SiegfriedHollerer
docs/the-top-10/unknown-assets-and-admin-access.md @simonrommer

textualize some of the todo items
  docs/the-top-10/components-with-insufficient-security-capabilities.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/components-with-insufficient-security-capabilities.md
  docs/the-top-10/components-with-insufficient-security-capabilities.md
Owners: @andreashappe, @simonrommer

Deployed e7032a0 with MkDocs version: 1.6.1
  404.html
  appendix/glossary/index.html
  appendix/whats-next/index.html
  background-ot/index.html
  background-ot/itsec_for_ot_people/index.html
  background-ot/ot_for_itsec_people/index.html
  background-ot/related-standards/index.html
  background-ot/safety-vs-security/index.html
  index.html
  introduction/about-owasp/index.html
  introduction/contributing/index.html
  introduction/contributors/index.html
  introduction/related-owasp-projects/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
  the-top-10/availability/index.html
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/components-with-insufficient-security-capabilities/index.html
  the-top-10/inadequate_supply_chain_management/index.html
  the-top-10/index.html
  the-top-10/insufficient-access-control/index.html
  the-top-10/missing-awareness/index.html
  the-top-10/missing-hardening/index.html
  the-top-10/missing-incident-detection-reaction-capabilities/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

remove placehodlers
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

convert some todos into text
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @simonrommer

remove rogue sub-heading
  docs/the-top-10/missing-hardening.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/unknown-assets-and-admin-access.md
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @simonrommer

Update docs/the-top-10/unknown-assets-and-admin-access.md
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @simonrommer

Deployed 22d78c3 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/missing-hardening/index.html
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

remove unused sentence
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

textualize parts of access-control
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

add linting fix
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Deployed 0402449 with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/broken-zone-and-conduits-design/index.html
  the-top-10/insufficient-access-control/index.html
Owners: @andreashappe, @simonrommer

Update glossary.md
  docs/appendix/glossary.md
Owners: @andreashappe, @simonrommer

Deployed 4d235cb with MkDocs version: 1.6.1
  appendix/glossary/index.html
  search/search_index.json
Owners: @andreashappe, @simonrommer

Update accessible-devices-with-known-vulnerabilities.md
  docs/the-top-10/accessible-devices-with-known-vulnerabilities.md
Owners: @andreashappe, @simonrommer

Update availability.md
  docs/the-top-10/availability.md
Owners: @andreashappe, @simonrommer

Deployed fe9e42d with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/availability/index.html
Owners: @andreashappe, @simonrommer

Deployed 413ca23 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/accessible-devices-with-known-vulnerabilities/index.html
Owners: @andreashappe, @simonrommer

Update broken-zone-and-conduits-design.md
  docs/the-top-10/broken-zone-and-conduits-design.md
Owners: @andreashappe, @simonrommer

Update components-with-insufficient-security-capabilities.md
  docs/the-top-10/components-with-insufficient-security-capabilities.md
Owners: @andreashappe, @simonrommer

Update inadequate_supply_chain_management.md
  docs/the-top-10/inadequate_supply_chain_management.md
Owners: @SiegfriedHollerer

Update insufficient-access-control.md
  docs/the-top-10/insufficient-access-control.md
Owners: @andreashappe, @simonrommer

Update missing-awareness.md
  docs/the-top-10/missing-awareness.md
Owners: @andreashappe, @simonrommer

Update missing-hardening.md
  docs/the-top-10/missing-hardening.md
Owners: @andreashappe, @simonrommer

Update missing-incident-detection-reaction-capabilities.md
  docs/the-top-10/missing-incident-detection-reaction-capabilities.md
Owners: @SiegfriedHollerer

Update unknown-assets-and-admin-access.md
  docs/the-top-10/unknown-assets-and-admin-access.md
Owners: @simonrommer

Deployed 3a92164 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/broken-zone-and-conduits-design/index.html
Owners: @andreashappe, @simonrommer

Deployed f50ef5f with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/components-with-insufficient-security-capabilities/index.html
Owners: @andreashappe, @simonrommer

Deployed 0f7814d with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/inadequate_supply_chain_management/index.html
Owners: @andreashappe, @simonrommer

Deployed a32d627 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/missing-awareness/index.html
Owners: @andreashappe, @simonrommer

Deployed dc44075 with MkDocs version: 1.6.1
  search/search_index.json
  the-top-10/unknown-assets-and-admin-access/index.html
Owners: @andreashappe, @simonrommer

update intro text for top 10
  docs/the-top-10/index.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/index.md
  docs/the-top-10/index.md
Owners: @andreashappe, @simonrommer

Update docs/the-top-10/index.md
  docs/the-top-10/index.md
Owners: @andreashappe, @simonrommer

Deployed 5e23d47 with MkDocs version: 1.6.1
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  the-top-10/index.html
Owners: @andreashappe, @simonrommer
